* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(150, 255, 200), rgb(50, 180, 255));
    /* perspective: 1000px; */
    /* One option is to have the perspective property on the card container */
}
.card {
    width: 320px;
    height: 350px;
    border-radius: 15px;
    position: relative;
    background-color: transparent;
    box-shadow: 0 0 10px 0 #ccc;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}
.front-face, .back-face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.front-face{
    background-image: linear-gradient(45deg, rgb(255, 130, 0), rgb(255, 255, 0));
}
.back-face{
    color: #fff;
    gap: 10px;
    background-image: linear-gradient(45deg, rgb(140, 40, 200), rgb(240, 130, 200));
    transform: rotateY(180deg)
}
.card:hover {
    transform: perspective(500px) rotateY(-180deg);
    /* The other option is applying a perspective transform to the card itself. */
}
h2, p {
    transform: translateZ(30px);
}
h2 {
    font-size: 2.5em;
    font-weight: bolder;
    font-style: italic;
}
button {
    width: auto;
    height: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    color: rgb(140, 40, 200);
    transform: translateZ(30px);
}